
body{
    background:grey;
}
.container{
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: transparent;
}
.button{
    width: 60px;
    height: 50px;
    font-size: 30;
    margin: 3;
    border: none;
    color:white;
    cursor: pointer;
    background:black;
}
.button:hover{
    width: 50;
    height: 50;
    font-size: 30;
    border: none;
    color: white;
    cursor: pointer;
    background: grey;
}
.hasil{
    width: 22%;
    bottom: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    position: relative;
    overflow: auto;
}
@media screen and (max-width: 600px) {
    .hasil {
      width: 65%;
      margin-top: 0;
    }
  }